* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Palanquin', sans-serif;
    line-height: 1;
    color: var(--darkgrey);
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 0 8px 0;
    line-height: 1;
}

button {
    font-family: 'Palanquin';
    font-weight: 600;
}