* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Palanquin', sans-serif;
    line-height: 1;
    color: var(--darkgrey);
}

h2 {
    color: var(--white);
    font-size: 2.5rem;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 0 8px 0;
    line-height: 1;
}

button {
    font-family: 'Palanquin';
    font-weight: 600;
}

main {
    display: flex;
    width: 100%;
}

nav {
    background-color: var(--accent-color-orange);
    height: 130px;
    display: flex;
    align-items: center;
    padding: 0 0 0 120px;
    width: 100%;
}

header {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.burgerhouse_img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
    border: 13px solid var(--accent-color-light-orange);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.restaurant_header {
    transform: translateY(-150px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant_name_rating {
    display: flex;
}

.restaurant_rating {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color-light-orange);
}

.rating_star {
    width: 24px;
    height: auto;
}