/* CATEGORIES MENU */

h2 {
    color: var(--white);
    font-size: 2.5rem;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 0 8px 0;
    line-height: 1;
}

button {
    font-family: 'Palanquin';
    font-weight: 600;
    cursor: pointer;
    line-height: 1;
}

.main_content {
    width: calc(100% - 440px);
}

.orange_beam {
    background-color: var(--accent-color-orange);
    display: flex;
    height: 60px;
    align-items: flex-end;
    gap: 30px;
}

.orange_font {
    color: var(--accent-color-orange);
    font-family: 'Palanquin Dark';
}

.category_icon {
    height: 90px;
    width: auto;
    padding-left: 120px;
}

.pizza_size {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--white);
}

.dish_category_content {
    padding: 40px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dish_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    margin: 20px 0;
    width: 720px;
    height: 145px;
    border-radius: 12px;
    background-color: var(--accent-color-light-orange);
    transition: all ease-in-out 255ms;
}

.dish_content:hover {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.dish_img_text {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.move_dish_text {
    transform: translateX(30px);
}

.dish_text {
    transition: all ease-in-out 255ms;
}

.dish_img {
    object-fit: cover;
    height: 120px;
    width: 210px;
    border-radius: 12px;
    flex-shrink: 0;
}

.dish_description {
    max-width: 35ch;
    font-weight: 500;
    line-height: 1;
}

.dish_price {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
}

.basket_button {
    background-color: var(--white);
    border-radius: 20px;
    border: transparent;
    padding: 5px 8px;
    font-weight: 600;
    font-size: 1rem;
    transition: all ease-in-out 255ms;
    width: 120px;
}

.basket_button:hover {
    color: var(--accent-color-orange);
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.trash_icon {
    height: 24px;
    width: 24px;
}

.dish_price_cart {
    height: 100%;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

/* scrollbar */
.cart_item_content {
    --sb-track-color: #363534;
    --sb-thumb-color: #facaac;
    --sb-size: 6px;
}

.cart_item_content::-webkit-scrollbar {
    width: var(--sb-size)
}

.cart_item_content::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 9px;
}

.cart_item_content::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 9px;
}

@supports not selector(::-webkit-scrollbar) {
    .cart_item_content {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

/* ORDER DIALOG */

#order_dialog {
    width: 415px;
    margin: auto;
    padding: 32px;
    border-color: transparent;
    border-radius: 30px;
    background-color: var(--darkgrey);
}

.order_dialog_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order_confirmed,
.order_on_the_way {
    color: var(--accent-color-light-orange);
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
}

.order_confirmed {
    font-size: 2.6rem;
}

.order_on_the_way {
    font-size: 1.8rem;
}

.dialog_img_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

.close_x {
    align-self: flex-end;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

#order_dialog.opened::backdrop {
    background-color: var(--dialog-backdrop);
    opacity: 0.4;
    transition: all 550ms ease-in;
}

#order_dialog::backdrop {
    background-color: var(--dialog-backdrop);
    opacity: 0;
    transition: all 550ms ease-in;
}

.d_none {
    display: none;
}

@media screen and (min-width: 1400px) {
    .category_icon {
        padding-left: max(calc(50vw - 700px), 120px);
    }

    .dish_category_content {
        padding-left: max(calc(50vw - 700px), 120px);
    }
}

@media screen and (max-width: 1366px) {
    .dish_content {
        width: 600px;
    }

    .dish_category_content {
        padding: 40px 80px;
    }

}

@media screen and (max-width: 1200px) {
    .dish_content {
        flex-direction: column;
        height: auto;
        width: 500px;
        gap: 12px;
    }

    .dish_img_text {
        flex-direction: column;
        width: 100%;
    }

    .dish_img {
        width: 100%;
        height: 150px;
    }

    .dish_price_cart {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: flex-end;
    }

    .dish_description {
        max-width: 50ch;
    }

    .move_dish_text {
        transform: translateX(0);
    }

    h2 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1024px) {
    .main_content {
        width: 100%;
    }

    .dish_content {
        flex-direction: row;
        height: 145px;
        max-width: 720px;
        gap: 0;
        width: 100%;
    }

    .dish_category_content {
        padding: 40px 70px;
        width: 100%;

    }

    .dish_img_text {
        flex-direction: row;
    }

    .dish_img {
        width: 210px;
        height: 120px;
    }

    .dish_price_cart {
        flex-direction: column;
        justify-content: space-between;
        width: auto;
    }

    .move_dish_text {
        transform: translateX(30px);
    }

    .orange_beam {
        width: 100%;
    }

    .main_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 768px) {
    .orange_beam {
        justify-content: center;
    }

    .category_icon {
        padding-left: 0;
    }

    .dish_content {
        flex-direction: column;
        height: auto;
        max-width: 650px;
        gap: 12px;
    }

    .dish_img_text {
        flex-direction: column;
        width: 100%;
    }

    .dish_img {
        width: 100%;
        height: 150px;
    }

    .dish_price_cart {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: flex-end;
    }

    .move_dish_text {
        transform: translateX(0);
    }
}

@media screen and (max-width: 576px) {
    .orange_beam {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 0;
        margin-top: 100px;
        padding-top: 20px;
    }

    .dish_category_content {
        padding: 40px;
    }
}

@media screen and (max-width: 480px) {
    .sandwiches {
        display: none;
    }

    .dish_category_content {
        padding: 40px 20px;
    }

    .category_icon {
        height: 60px;
        width: auto;
    }
}